<button class="p-2 cursor-pointer group hover:drop-shadow-pink focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none">
  <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" class="w-6 h-6 text-transparent transition-all hover:text-pink-500 stroke-black opacity-70 hover:opacity-100 hover:stroke-rose-500" viewBox="0 0 24 24" stroke="gray">
    <path stroke-linecap="round" clip-rule="evenodd" fill-rule="evenodd" stroke-linejoin="round" stroke-width="1"
    d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
  </svg>
</button>
