.juice {
        background-image: url('https://i.ibb.co/SN2Sp4T/juice.png');
    }

    .juice2 {
      background-image: url('https://i.ibb.co/yyMXMSF/juice2.png');
    }

    .juice3 {
      z-index: 10;
      position: relative;
    }
