<div class="inline-flex hs-dropdown">
  <button id="hs-dropdown-unstyled" type="button" class="relative align-middle hs-dropdown-toggle">
    <div class="absolute top-1 right-1">
      <p class="flex items-center justify-center w-2 h-2 p-2 text-xs text-white bg-red-500 rounded-full">12</p>
    </div>
    <div class="p-2">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6 pt-1 text-gray-900" viewBox="0 0 18 18"
        stroke-width="1.5">
        <path
          d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
      </svg>
    </div>
  </button>
  <div
    class="hs-dropdown-menu transition-[opacity,margin] duration hs-dropdown-open:opacity-100 opacity-0 hidden z-10 mt-2"
    aria-labelledby="hs-dropdown-unstyled">
    <div class="flex flex-col">
      <!-- Item -->
      <div class="flex justify-between px-4 py-6 bg-white border rounded-lg">
        <div class="flex items-center space-x-4">
          <img src="https://flowbite.com/docs/images/people/profile-picture-1.jpg" class="rounded-full h-14 w-14"
            alt="">
          <div class="flex flex-col space-y-1">
            <span class="font-bold">Leonard Krashner</span>
            <span class="text-sm">Yeah same question here too 🔥</span>
          </div>
        </div>
        <div class="flex-none px-4 py-2 text-xs text-stone-600 md:text-sm">
          17m ago
        </div>
      </div>
      <!-- Item -->
      <!-- Item -->
      <div class="flex justify-between px-4 py-6 bg-white border rounded-lg">
        <div class="flex items-center space-x-4">
          <img src="https://flowbite.com/docs/images/people/profile-picture-3.jpg" class="rounded-full h-14 w-14"
            alt="">
          <div class="flex flex-col space-y-1">
            <span class="font-bold">Yao</span>
            <span class="text-sm">Lorem ipsum dolor sit</span>
          </div>
        </div>
        <div class="flex-none px-4 py-2 text-xs text-stone-600 md:text-sm">
          40m ago
        </div>
      </div>
      <!-- Item -->

      <!-- Item -->
      <div class="flex justify-between px-4 py-6 bg-white rounded-lg">
        <div class="flex items-center space-x-4">
          <img src="https://flowbite.com/docs/images/people/profile-picture-2.jpg" class="rounded-full h-14 w-14"
            alt="">
          <div class="flex flex-col space-y-1">
            <span class="font-bold">Lesine</span>
            <span class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti, provident</span>
          </div>
        </div>
        <div class="flex-none px-4 py-2 text-xs text-stone-600 md:text-sm">
          50m ago
        </div>
      </div>
      <!-- Item -->
    </div>
  </div>
</div>
